/* Reset CSS by Justin Comeau */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* CSS Grid Layout */

body,
html {
    height: 100%;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";

}

/* Header Section */

.header {
    background-color: #006157; /* Testing */
    grid-area: header;
    /* Nested Grid for header layout */
    display: grid; 
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "search-bar search-bar"
    "user-info buttons";
}

.search-bar {
    background-color: #345552; /* Testing */
    grid-area: search-bar;
}

.user-info {
    background-color: #006157; /* Testing */
    grid-area: user-info;
}

.buttons {
    background-color: #0ecfbc; /* Testing */
    grid-area: buttons;
}

/* Sidebar Section */

.sidebar {
    background-color: #005B94; /* Testing */
    grid-area: sidebar;
    /* Nested Grid for sidebar layout */
    display: grid;
    grid-template-rows: 1fr 3fr 4fr;
    grid-template-areas: 
    "logo"  
    "navigation"
    "settings";
}

.logo {
    background-color: #092435; /* Testing */
    grid-area: logo;
}

.navigation {
    background-color: #7598ad; /* Testing */
    grid-area: navigation;
}

.settings {
    background-color: #1e2e38; /* Testing */
    grid-area: settings;
}





.main-content {
    background-color: #642cde; /* Testing */
    grid-area: main-content;
    
}