/* Reset CSS by Justin Comeau */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* CSS Grid Layout */

body,
html {
    height: 100%;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr ;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
    
}

.header {
    background-color: #006157; /* Testing */
    grid-area: header;
}

.sidebar {
    background-color: #005B94; /* Testing */
    grid-area: sidebar;
}

.main-content {
    background-color: #642cde; /* Testing */
    grid-area: main-content;
}